[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "2.20.3"
scikit-learn = "*"
fastapi = "==0.115.0"
uvicorn = "==0.34.0"
gradio-client = "==1.5.0"
python-multipart = "==0.0.18"
pydantic_settings = "*"

[dev-packages]
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
pre-commit = "==4.1.0"
ipykernel = "*"

[requires]
python_version = "3.12.9"
